<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {%- assign author = site.data.authors[site.author] | default: site.author -%}
    {% if author.github %}
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} KPN D-Nitro.</div>
